
.form-container {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: white;
    font-family: "Poppins";
    text-align: center; 
}

.form-group {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column; 
}

.form-group h4 {
   
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; 
}


.form-group textarea {
    height: 120px;
    padding: 10px;
    resize: vertical;
  }
  

.form-group input:focus,
.form-group textarea:focus{
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group .submit-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins";
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 20px; */
    
}
  
/*   
  .submit-btn:hover {
    background-color:  #aaa;
  }

 */

